h1 {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    margin: 15px auto;
}

.btn {
    width: 15%;
}

.home {
    width: 15%;
    float: left;
    background-color: #76323F;
    border-color : #242220;
    font-family: #FFF;
    margin-left: 20px;
}

.logo {
    margin-right: 200px;
}