h1 {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    margin: 15px auto;
}

.btn {
    width: 25%;
}

.home {
    width: 25%;
    float: right;
    background-color: #e6a157;
    border-color: #e6a157;
    color: #FFF;
    border-radius: 35px;
    margin-right: 20px;
}