img {
    border-radius: 50%;
    width: 100;
    height: 100;
    
}

button {
    display: block;
    border-color:black;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    align-self: center;
}
<<<<<<< HEAD
.member {
    width: 10%;
    float: right;
    background-color: #e6a157;
    border-color: #e6a157;
    border-radius: 15px;
    margin-right: 20px;
    background: #c9753d;
    color: white;
=======

.member {
    width: 10%;
    float: right;
    background-color: pink;
    border-color:white;
    margin-right: 20px;
    background: #c9753d;
    color: white;
}

.logo {
    margin-left: 60px;
>>>>>>> b5468ccd524a577590157628bcdfe33c4364e178
}