.restaurant {
    background-color: #C09F80;
    margin: 60px auto;
    float:left;
    padding: 15px 0;
    border-radius: 35px;
    border-color:black;
}

h1 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin-bottom: 30px;
}
.desc {
    margin-top: 30px;
    font-size: small;
    float: left;
    margin-left: 10px;
}
.number {
    color: #111010;
    float: right;
    margin-right: 50px;
}
.diningPlacesCol {
    width: 300px;
    height: 300px;
    padding: 15px;
    margin: 15px auto;
    border-radius: 50%;
} 
.restPic {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.address{
    float: left;
    font-size: small;
    margin-left: 50px;
}

.party {
    margin-left: 15px;
}

#datebook {
    margin-left: 400px;
    display: block;
    column-count: 3;
    float: right;
    padding-bottom: 5px;
    column-gap: 40px;
}

#blurb {
    width: 300px;
    height: 200px;
    content: 10px;
    margin-bottom: 100px;
}

#book {
    width: 50%;
}

body {
    background-color: #D7CEC7;
    font-family: 'Open Sans', sans-serif;
    color: rgb(34, 32, 32);
    margin-block-end: #242220;
    margin-block-start: #242220;
    padding:15px 0;
    margin-bottom: 70px;
  }

  .col-12 {
      margin-bottom: 100px;
  }

  .order {
      margin-left: 10px;
      margin-right: 0px;
  }

  .date {
      margin-right: 5px;
  }

  .party {
      margin-right: 0px;
  }

  .books {
      margin: 0px auto;
  }