.restaurant {
    background-color: #C09F80;
    margin: 60px auto;
    float:left;
    padding: 15px 0;
    border-radius: 35px;
    border-color:black;
}
h1 {
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    margin: 15px auto;
}
.desc {
    font-size: small;
    float: left;
}
.number {
    color: #111010;
    float: right;
}
.diningPlacesCol {
    width: 300px;
    height: 300px;
    padding: 15px;
    margin: 15px auto;
    border-radius: 50%;
} 
.restPic {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.address{
    float: left;
    font-size: small;
}

#datebook {
    margin-left: 400px;
    display: block;
    column-count: 3;
    float: right;
    padding-bottom: 5px;
    column-gap: 40px;
}

#blurb {
    width: 300px;
    height: 200px;
    content: 10px;
}

#book {
    width: 50%;
}

